button{
	font-size: 40px;
	width: 60px;
	padding: 10px;
}
button:hover{
	background-color: rgb(200,200,200);
	padding: 7px;
	font-size: 44px;
	width: 60px;
}
button:active{
	box-shadow: 0 3px #666; 
	transform: translateY(2px);
}
#textBox{
	font-size: 40px;
	margin-top: 10px;
	width: 643px;
}
#mainWindow{
	margin-left: 100px;
	margin-bottom: 20px;
	width: 350px;
	height: 180px;
	font-size: 40px;
}
#div1{
	width: 600px;
	height: 800px;
	background-color: #666;
	border-radius: 15px;
	border-color: black;
	border-width: 13px;
	padding: 25px;
}
#div2{
	width: 550px;
	height: 750px;
	background-color: #3e3d3d;
	border-radius: 15px;
	border-color: black;
	border-width: 13px;
	margin:25px;
	padding-top: 7px;
}
h1{
	font-size: 45px;
	text-align: center;
}
#tableNumpad{
	/*margin-left: 100px;*/
}
#mainTable{
	margin-top: 0px;
	margin-left: 90px;
	padding: 0px;
	/*margin-left: 50px;*/
}
img{
	padding: 20px;
}
img:hover{
	transform: translate(0px, -17%);
}
